<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/crew.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@700;800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" referrerpolicy="no-referrer" />
</head>
<body>
    {% include "/includes/navbar.html" %}
    <div class="team">
        <div class="members">
                <div class="ttt">
            <img src="https://images.generated.photos/bakrX_fyWyoS9DfiZnq_FIb9tW1l68IwL9TFJN2FDsc/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAyOTg5NDYuanBn.jpg" alt="">
            <span>Thomas</span>
                </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Neque, voluptates libero? Ullam atque dolor tenetur alias, autem, labore ipsa excepturi maiores error eius voluptatem ratione doloribus quia hic amet, odio nihil? Consequatur, consequuntur accusamus tenetur quam ex dolorem tempora eius!</p>
        </div>
        <div class="members">
                <div class="ttt">
            <img src="https://images.generated.photos/2FVkZ76wTy39zHvryaik9uh-229n3AqMo1QF9Wpkx38/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA2NzcyODQuanBn.jpg" alt="">
            <span>Leila</span>
                </div>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Culpa non iure voluptatibus! Magnam odit atque commodi. Alias maiores beatae, expedita et praesentium possimus totam incidunt pariatur, qui rerum non, omnis nemo rem porro? Quam quo commodi voluptatum veniam, quia rem!</p>
        </div>
        <div class="members">
                <div class="ttt">
            <img src="https://images.generated.photos/NUwu-eQPiihfsCo08VRkyokqY9Am9uME9qCZk4el2B0/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA4OTIyOTkuanBn.jpg" alt="">
            <span>Rebeca</span>
                </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quidem assumenda voluptate possimus odio rerum quo omnis illo, mollitia aperiam, officia voluptatum quia architecto sequi libero quae iste quis quaerat molestias quisquam. Nam maiores incidunt perspiciatis? Consectetur, ducimus. Distinctio, deserunt!</p>
        </div>
        <div class="members">
                <div class="ttt">
            <img src="https://images.generated.photos/ySYqc8CyQKmeiLBy_Owgoa0a-TTrSzx-Tnp1kUPRx8M/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzAyMjA3NTcuanBn.jpg" alt="">
            <span>Thomas</span>
                </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit harum fugiat hic ad aliquam nisi, dolorum earum, optio temporibus reprehenderit ipsa recusandae ipsum reiciendis? Fugit et id tenetur, deleniti ipsum quam exercitationem mollitia nostrum nulla praesentium dolorum cum ipsam architecto!</p>
        </div>
        <div class="members">
                <div class="ttt">
            <img src="https://images.generated.photos/WcY-qaMndhasm0_YbJau7uw8JC3pxSx90OB9z9gAteE/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA5NjU0NzEuanBn.jpg" alt="">
            <span>John</span>
                </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt incidunt suscipit deserunt. Laudantium laborum perspiciatis nisi exercitationem quasi autem a. Quae cupiditate odio ipsa, et adipisci consequuntur soluta eaque ipsum quibusdam qui, nulla harum, aut alias numquam. Iste, ad quis?</p>
        </div>
        <div class="members">
                <div class="ttt">
            <img src="https://images.generated.photos/Tzog5G7m19OMHtd8BGxLXFN27xN_STWpNSGIHPBRZRE/rs:fit:256:256/Z3M6Ly9nZW5lcmF0/ZWQtcGhvdG9zL3Yz/XzA4MTI3ODUuanBn.jpg" alt="">
            <span>David</span>
                </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus nulla, ea ullam beatae quidem quis accusantium nemo cum magnam praesentium iste provident aut atque error mollitia sed ipsa nobis suscipit id molestias deserunt? Dolorum nostrum sit omnis adipisci molestias mollitia.</p>
        </div>
    </div>
    {% block footerblock %}
    <footer id="footer">
        <div class="socialmedias">
            <p>Social media</p> 
            <div class="sm">
            <span>
                <i class="fab fa-instagram fa-2x"></i>
            </span>
            <span>
                <i class="fab fa-twitter fa-2x"></i>
                
            </span>
            <span>
                <i class="fab fa-facebook fa-2x"></i>
                
            </span>
            </div>
        </div>
        <div class="communication">
            <div class="phonenumber">
                <p>Phone number&Whatsapp</p>
                <div class="pnwp">
                <span><i class="fab fa-whatsapp fa-2x"></i></span>
                <span class="pn">+9023112311</span>
                </div>
            </div>
            <div class="email">
                <p>E-mail</p>
                <div class="pnwp">
                <span><i class="fas fa-envelope-square fa-2x"></i></span>
                <span class="pn">example@gmail.com</span>
                </div>
            </div>
            <div class="address">
                <p>Office address</p>
                <div class="pnwp">
                <span><i class="fas fa-laptop-house fa-2x"></i></span>
                <span class="pn">Example</span>
                </div>
            </div>
        </div>
    </footer>
    {% endblock %}
</body>
</html>